// FONT
$ptSans: "PT Sans", sans-serif;
$cormorant: "Cormorant Upright", serif;

// COLOR
$lightGray: #93a1b0;
$lighterGray: #a5b2bd;
$white: white;

$brown: #5e412f;
$cream: #fcebb6;
$turqouise: #78c0a8;
$vividOrange: #f07818;
$orange: #f0a830;
$darkerGreen: #042608;
$deepGreen: #2a5c0b;
$maccha: #808f12;
$lighterCream: #faedd9;
$red: #ea2a15;

// SIZE
$maxPercent: 100%;
$fontSm: 1.4rem;
$fontMd: 2.2rem;
$fontLg: 4.5rem;
$fontXl: 7rem;
