html {
    height: 100%;
}

// SEARCH PAGE
.search-result #main-page {
    background-color: $cream;
}

#search-page {
    background-color: $cream;
    display: none;
}

.search-container img {
    width: 100%;
    height: 100%;
}

.search-page-header {
    height: 150px;
    position: relative;

    input {
        background-color: $cream;
        border: none;
        border-bottom: 2px solid $turqouise;
        left: 20%;
        height: 60%;
        width: 55%;
        padding: 1%;
        font-size: 1.5em;

        @include formPosition();
    }

    button {
        color: $darkerGreen;
        right: 5%;
        font-size: 2em;
        @include formPosition();
    }
}

.search-container {
    height: 85%;
    margin-top: 5%;
    padding-left: 10.5%;
    padding-right: 15.5%;
    background-color: $cream;

    @include for-phone-only {
        margin-top: 10%;
    }
}

.search-flex {
    background-color: $cream;
    height: 28%;
    margin-bottom: 5%;

    @include for-tablet-landscape-up {
        height: 42%;
    }

    @include for-tablet-portrait-up {
        height: 38%;
    }

    @include for-phone-only {
        height: 30%;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    a {
        width: 50%;
    }

    .img-card {
        border: none;
        width: 90%;
    }

    .text-card {
        border: none;
        width: 60%;
        background-color: $cream;
        color: $deepGreen;
    }

    .text-body {
        padding: 0;

        h4 {
            font-weight: bold;
        }
    }
}

.other-pages {
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;

    nav {
        display: inline-block;
    }

    .pagination-sm .page-item:first-child .page-link {
        background-color: $lighterCream;
        color: $maccha;
        border: 1px solid $darkerGreen;

        &:hover {
            opacity: 0.8;
        }
    }

    a {
        background-color: $lighterCream;
        color: $deepGreen;
        border: 1px solid $darkerGreen;

        &:hover {
            opacity: 0.8;
        }
    }
}

// MAIN PAGE

#main-page {
    display: block;
    @include widthMax();
}

.header {
    height: 15%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $cream;

    ul {
        margin-right: auto;

        .header-brand {
            color: $deepGreen;
            font-weight: bold;
        }

        a {
            color: $deepGreen;
        }
    }

    form {
        button {
            border-color: $deepGreen;
            color: $deepGreen;
        }
    }
}

.top-image {
    overflow: hidden;
    background-color: $vividOrange;
    height: 450px;
    position: relative;
    @include widthMax();

    img {
        width: 100%;
    }

    p {
        font-size: 1rem;
        margin: 0%;
        color: $darkerGreen;
        @include for-phone-only {
            text-align: center;
        }
    }
    h1 {
        color: $darkerGreen;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0.67rem 0;
        @include for-phone-only {
            text-align: center;
        }
    }
}

// MAIN
.main {
    background-color: $lighterCream;
    max-height: 2000px;
    height: 1500px;
}

.full_content {
    width: 100%;
    height: 95%;
    position: relative;
    clear: both;
    margin-top: -8vh;

    .tabmenu {
        width: 15%;
        height: 7vh;
        float: left;
        list-style: none;
        text-align: center;
        display: block;
        cursor: pointer;
        color: $lighterCream;
        // border: 1px solid $deepGreen;
        margin-top: 1vh;
        border-radius: 4px;
    }

    .recent {
        margin-left: 5%;
    }

    .tabcontent {
        width: 100%;
        height: 100%;
        top: 8%;
        left: 0;
        position: absolute;
    }
    .tabactive {
        border: 1px solid $deepGreen;
        border-bottom: none;
        background-color: $lighterCream;
        color: $deepGreen;
        font-weight: bold;
    }
}

.active,
.hover {
    background: $turqouise;
    font-weight: bold;
}

.main-nav {
    background-color: $turqouise;
    height: 8vh;
    border-bottom: 1px solid $deepGreen;

    @include for-phone-only {
        display: none;
    }

    li {
        padding-top: 0.5%;
        width: 10%;

        @include for-tablet-portrait-up {
            width: 20%;
            font-size: 0.8rem;
        }
    }

    .active {
        color: $deepGreen !important;
        background-color: $lighterCream !important;
        border-color: $deepGreen $deepGreen $lighterCream !important;

        &:hover {
            border-color: $deepGreen $deepGreen $lighterCream !important;
        }
    }

    a {
        border: 1px solid;
        color: $lighterCream;
        height: $maxPercent;
        text-align: center;

        &:hover {
            border: none;
            color: $deepGreen;
        }
    }
}

.hidden {
    display: none;
}

.main-nav-mb {
    display: none;

    @include for-phone-only {
        margin-bottom: 10%;
        display: block;
        padding: 5%;
        background-color: $turqouise;
        li {
            border-radius: 5px;
            color: $lightGray;
            text-align: center;
            border: none;

            &:hover {
                opacity: 0.8;
            }
        }

        li + li {
            margin-top: 5%;
        }

        li.active {
            background-color: $lighterCream;
            color: $deepGreen;
        }
    }
}

// BLOG

.blogs {
    margin-bottom: 5%;

    .card {
        margin-bottom: 10%;
    }

    .card + .card {
        @include for-phone-only {
            margin-top: 5%;
        }
    }

    img {
        width: 100%;
        max-width: 349px;
        max-height: 200px;
    }

    a {
        &:hover {
            color: $maccha;
            text-decoration: none;
            opacity: 0.9;
            box-shadow: 0px 5px 20px gray;
        }
    }
    .main-card-body {
        color: $deepGreen;
        text-align: center;
    }
}

.pages-btn {
    height: 5%;
    padding-bottom: 5%;
    @include widthMax();

    a {
        font-size: 1.5rem;
        color: $maccha !important;

        &:hover {
            color: $deepGreen !important;
        }
    }
}

// FOOTER
.blog_contact {
    height: 650px;
    background-color: $brown;
}
